<div class="dialog-close-button-with-title">
  <img src="https://algovent-static.s3.ap-south-1.amazonaws.com/algovent.png" alt="Avatar" class="avatar">
  <button mat-dialog-close  mat-icon-button><mat-icon class="cancel-dialog-icon">cancel</mat-icon></button>
</div>
<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="loginForm">
        <ng-template matStepLabel>Login</ng-template>
        <div class="center-form-container-by-row root-login-container">
            <div class="login-form-enclosure">
              <form class="center-form-container-by-col login-form" (ngSubmit)="onSubmit()" #f [formGroup]="loginForm">
                <mat-form-field class="mat-form-input">
                  <input matInput placeholder="Mobile" [formControl]="lmobile"
                          type="text" [errorStateMatcher]="matcher">
                  <button mat-button *ngIf="fmobile.value" matSuffix mat-icon-button aria-label="Clear" (click)="fmobile.setValue('')">
                      <mat-icon>close</mat-icon>
                    </button>
                  <mat-error *ngIf="loginForm.controls['mobile'].hasError('required')">
                    Mobile is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          
                <mat-form-field class="mat-form-input">
                    <input matInput placeholder="Password" type="password" formControlName="password"
                            [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="login-actions">
                    <button [disabled]="loginForm.invalid" class="login-button login-actions-item" mat-raised-button type="submit">Login</button>
                    <button matStepperNext class="login-button login-actions-item" (click)="updateMobiles(lmobile)" mat-raised-button>Forgot Password</button>
                </div>
              </form>
            </div>
          </div>
    </mat-step>
    <mat-step [stepControl]="forgotPasswordForm">
        <ng-template matStepLabel>Forgot Password</ng-template>
        <div class="center-form-container-by-row root-login-container">
            <div class="login-form-enclosure">
              <form class="center-form-container-by-col login-form" (ngSubmit)="onSubmit()" #f [formGroup]="forgotPasswordForm">
                <mat-form-field *ngIf="valid_otp == false" class="mat-form-input">
                  <input matInput placeholder="Mobile" [formControl]="fmobile"
                          type="text" [errorStateMatcher]="matcher">
                  <button mat-button *ngIf="fmobile.value" matSuffix mat-icon-button aria-label="Clear" (click)="fmobile.setValue('')">
                      <mat-icon>close</mat-icon>
                    </button>
                  <mat-error *ngIf="forgotPasswordForm.controls['mobile'].hasError('required')">
                    Mobile is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          
                <mat-form-field *ngIf="valid_otp == false && otp_requested == true" class="mat-form-input" >
                    <input matInput placeholder="OTP" type="text" formControlName="otp" 
                            [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forgotPasswordForm.controls['otp'].hasError('required')">
                      OTP is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="otp_requested && valid_otp" class="mat-form-input">
                    <input matInput placeholder="Password" type="password" formControlName="password" 
                            [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forgotPasswordForm.controls['password'].hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="login-actions">
                    <button class="login-button login-actions-item" [disabled]="fmobile.invalid" mat-raised-button (click)="requestOTP()">Request OTP</button>
                    <button *ngIf="valid_otp == false" [disabled]="fmobile.invalid" class="login-button login-actions-item" (click)="validateOTP()" mat-raised-button>Confirm OTP</button>
                    <button *ngIf="valid_otp" [disabled]="forgotPasswordForm.invalid" class="login-button login-actions-item" (click)="resetPassword()" mat-raised-button>Reset Password</button>
                </div>
              </form>
            </div>
          </div>
    </mat-step>
</mat-horizontal-stepper>

    