<div class="dialog-close-button-with-title">
  <div><h4>WELCOME TO ECART</h4></div>
  <div class="fun-strip">
  </div>
  <button mat-dialog-close  mat-icon-button><mat-icon class="cancel-dialog-icon">cancel</mat-icon></button>
</div>
<div class="center-form-container-by-row root-login-container">
  <div class="login-form-enclosure">
    <!-- <div class="social-sso">
        <a routerLink="/" *ngFor="let login of social_logins">
          <img class="scoial-icon" src="{{img_icon_data[login]}}" alt="" height="42" width="42">
        </a>
    </div>
    <div class="simple-divider"><h3>OR</h3></div> -->
    <form class="center-form-container-by-col login-form" (ngSubmit)="onSubmit()" #f [formGroup]="loginForm">
      <mat-form-field class="mat-form-input">
        <input matInput placeholder="Mobile" formControlName="mobile"
                type="text" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginForm.controls['mobile'].hasError('required')">
          Mobile is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-input">
          <input matInput placeholder="Password" type="password" formControlName="password"
                  [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <div class="login-actions">
          <button class="login-button login-actions-item" mat-raised-button type="submit">Login</button>
          <button class="login-button login-actions-item" mat-raised-button>Forgot Password</button>
        </div>
      
    </form>
  </div>
</div>
    