<div class="dialog-close-button-with-title">
        <!-- <img src="https://algovent-static.s3.ap-south-1.amazonaws.com/algovent.png" alt="Avatar" class="avatar"> -->
        <div class="letters">
                <span class="letter"><mat-icon>money</mat-icon></span><span class="letter">P</span><span class="letter">R</span><span class="letter">I</span><span class="letter">C</span><span class="letter">E</span>
        </div>
        <button mat-dialog-close  mat-icon-button><mat-icon class="cancel-dialog-icon">cancel</mat-icon></button>
      </div>
      <div class="center-form-container-by-row root-signup-container">
          <div class="signup-form-enclosure">
            <form class="center-form-container-by-col signup-form" (ngSubmit)="onSubmit()" [formGroup]="priceForm">
            <mat-form-field class="mat-form-input">
                <input matInput placeholder="Name*" formControlName="name"
                        type="text" [errorStateMatcher]="matcher">
                <mat-error *ngIf="priceForm.controls['name'].hasError('required')">
                Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-input">
                <input matInput placeholder="Number*" formControlName="number"
                        type="text" [errorStateMatcher]="matcher">
                <mat-error *ngIf="priceForm.controls['number'].hasError('required')">
                Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mat-form-input">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" name="type">
                    <mat-option *ngFor="let typec of typeList" [value]="typec">
                    {{typec | uppercase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button [disabled]="priceForm.invalid" class="signup-button" mat-raised-button type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
            