<div class="dialog-close-button-with-title">
<div class="letters">
        <span class="letter"><mat-icon>{{ title_logo }}</mat-icon></span>
        <span class="letter" *ngFor="let c of title">{{c}}</span>
</div>
<button mat-dialog-close  mat-icon-button><mat-icon class="cancel-dialog-icon">cancel</mat-icon></button>
</div>
<div class="center-form-container-by-row root-signup-container">
    <div class="signup-form-enclosure">
    <form class="center-form-container-by-col signup-form" (ngSubmit)="onSubmit()" [formGroup]="pricebookentryForm">
    <mat-form-field class="mat-form-input">
        <input matInput placeholder="Amount*" formControlName="amount"
                type="text" [errorStateMatcher]="matcher">
        <mat-error *ngIf="pricebookentryForm.controls['amount'].hasError('required')">
        Amount is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button [disabled]="pricebookentryForm.invalid" class="signup-button" mat-raised-button type="submit">UPDATE</button>
    </form>
    </div>
</div>
            