<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [style.background-color]="'rgba(51,63,76,1)'" #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="'navigation'"
      [mode]="'over'"
      [opened]="false"
      position="end">
    <mat-toolbar>
        <span class="white-color">Hello</span>
        <span class='tollbar-splitter'></span>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon class="white-color" aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div *ngFor="let menu_items of menu_data">
      <mat-nav-list>
          <mat-list-item *ngFor="let menu_item of menu_items" [routerLink]="menu_item['path']" (click)="drawer.close()">
          <button type="button" aria-label="Your Apps" mat-icon-button>
            <mat-icon class="white-color" aria-label="Apps" >{{ menu_item['icon'] }}</mat-icon>
            <span class="white-color"> {{ menu_item['title'] }}</span>
          </button>
          </mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>
    <div *ngIf="userService.user.LoggedIn">
      <mat-nav-list>
          <mat-list-item (click)="logout(drawer)">
          <button type="button" aria-label="Logout" mat-icon-button>
            <mat-icon class="white-color" aria-label="Apps" >exit_to_app</mat-icon>
            <span class="white-color"> Logout</span>
          </button>
          </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [style.background-color]="'#ffffff'">
    <mat-toolbar [style.background-color]="'#383d65'">
      <!-- <a routerLink="" class="logo"><img class="logo-img" src="https://s3.ap-south-1.amazonaws.com/algovent-s3-static/logo.png" alt="Algovent"></a>       -->
      <button
        type="button"
        aria-label="local_laundry_service"
        mat-icon-button
        [routerLink]="userService.user.HomeUrl"
        >
        <mat-icon class="white-color" aria-label="local_laundry_service">local_laundry_service</mat-icon>
    </button>
      <span class='tollbar-splitter'></span>
      <button
        type="button"
        mat-icon-button
        matBadge="1" 
        matBadgePosition="before"
        matBadgeColor="warn"
        [matMenuTriggerFor]="menu"
        *ngIf="userService.user.LoggedIn"
      >
        <mat-icon class="toggle-icon white-color" aria-label="notifications" >notifications_active</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button *ngFor="let n of userService.notifications" mat-menu-item (click)="onClickOfNotification(n,[])">
            <mat-icon>{{n['icon']}}</mat-icon>
            <span>{{n['name']}}</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="userService.user.LoggedIn"
      >
        <mat-icon class="toggle-icon white-color" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span *ngIf="userService.user.LoggedIn == false">
        <a [routerLink]=""   class="login-url white-color" (click)="dialogService.openDialog(['login', {}])">LOGIN</a>
        <span class="white-color action-seperator">/</span>
        <a [routerLink]=""  class="login-url white-color" (click)="dialogService.openDialog(['signup', {}])">REGISTER</a>
     </span>
  </mat-toolbar>

    <div class="app-content"><router-outlet></router-outlet></div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
