<mat-tab-group mat-align-tabs="center">
        <mat-tab >
          <ng-template mat-tab-label>
          <mat-icon class="tab-icon">person</mat-icon>
          User
          </ng-template>
  
          <div class="center-form-container-by-row root-signup-container">
              <div class="single-form-enclosure">
                <form class="center-form-container-by-col signup-form" (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
                    
                  <mat-form-field class="mat-form-input">
                    <input matInput placeholder="Mobile" formControlName="mobile"
                            type="text" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="userForm.controls['mobile'].hasError('mobile') && !userForm.controls['mobile'].hasError('required')">
                      Please enter a valid mobile
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['name'].hasError('required')">
                      Mobile is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="mat-form-input">
                    <input matInput placeholder="Name" formControlName="name"
                            type="text" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="userForm.controls['name'].hasError('name') && !userForm.controls['name'].hasError('required')">
                      Please enter a valid name
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['name'].hasError('required')">
                      Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field class="mat-form-input">
                    <input matInput placeholder="Email" formControlName="email"
                            type="text" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="userForm.controls['email'].hasError('email') && !userForm.controls['email'].hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>  
                  <mat-divider></mat-divider>
                  
                  <mat-form-field class="mat-form-input">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status" name="status">
                      <mat-option *ngFor="let status of statusList" [value]="status.value">
                        {{status.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="mat-form-input">
                    <mat-label>Group</mat-label>
                    <mat-select formControlName="group" name="group">
                      <mat-option *ngFor="let group of groups" [value]="group.id">
                        {{group.name | uppercase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-checkbox class="mat-form-input" formControlName="subscribe_newsletter">Subscribe To News Letter</mat-checkbox>
                  <mat-checkbox class="mat-form-input" formControlName="subscribe_transactions">Subscribe To Transactions</mat-checkbox>
                  <mat-checkbox class="mat-form-input" formControlName="reset_password">Reset Password</mat-checkbox>
                  <button [disabled]="userForm.invalid" class="signup-button" mat-raised-button type="submit">{{ actionLabel }}</button>
                </form>
              </div>
            </div>
        </mat-tab>
        <mat-tab (click)="loadAddresses()" *ngIf="id != null">
          <ng-template mat-tab-label>
          <mat-icon class="tab-icon">store</mat-icon>
          Stores
          </ng-template>
        </mat-tab>
        <mat-tab (click)="loadAddresses()" *ngIf="id != null">
            <ng-template mat-tab-label>
            <mat-icon class="tab-icon">location_on</mat-icon>
            Address
            </ng-template>
            <div class="tool-bar-container">
              <div class="filter-tool-bar">
                
              </div>
              </div>
            <div class='addresses'>
              <mat-nav-list class="address-item">
                <h3 mat-subheader>
                    <button mat-button color="primary" matTooltip="NEW ADDRESS" (click)="dialogService.openDialog(['address', {'user_id' : id}])">
                        <mat-icon>add_location</mat-icon> ADD ADDRESS
                    </button>
                </h3>
                <mat-divider></mat-divider>
                <mat-list-item *ngFor="let address of addresses" (click)="dialogService.openDialog(['address', {'id':address['id'], 'user_id' : id}])">
                  <!-- <mat-icon mat-list-icon>location_on</mat-icon> -->
                  <h2 mat-line class="address-name">
                    {{address['name'] | uppercase}}
                  </h2>
                  <p mat-line>
                    {{address['flat']}}
                  </p>
                  <p mat-line>
                    {{address['landmark']}}
                  </p>
                  <p mat-line>
                    {{address['street']}}
                  </p>
                  <p mat-line>
                    {{address['area']}}
                  </p>
                  <p mat-line>
                    {{ address['city'] }} {{ address['state'] }} {{ address['country'] }} {{ address['zipcode'] }}
                    </p>
                  <mat-divider></mat-divider>
                </mat-list-item>
                
              </mat-nav-list>
              </div>
        </mat-tab>
    </mat-tab-group>

    