<div class="dialog-close-button-with-title">
  <div class="letters">
      <span class="letter"><mat-icon>{{ title_logo }}</mat-icon></span>
      <span *ngFor="let c of title" class="letter">{{ c }}</span>
  </div>
  <div class="letters">
      <span class="letter">S</span><span class="letter">I</span><span class="letter">G</span><span class="letter">N</span><span class="letter">U</span><span class="letter">P</span>
  </div>
  <button mat-dialog-close  mat-icon-button><mat-icon class="cancel-dialog-icon">cancel</mat-icon></button>
</div>
<div class="center-form-container-by-row root-signup-container">
    <div class="signup-form-enclosure">
      
      <!-- <div class="social-sso">
          <a routerLink="/" *ngFor="let login of social_logins">
            <img class="scoial-icon" src="{{img_icon_data[login]}}" alt="" height="42" width="42">
          </a>
      </div> -->
      <!-- <div class="simple-divider"><h3>OR</h3></div> -->
      <form class="center-form-container-by-col signup-form" (ngSubmit)="onSubmit()" [formGroup]="signupForm">
          <mat-form-field class="mat-form-input">
            <input matInput placeholder="Mobile" formControlName="mobile"
                    type="text" [errorStateMatcher]="matcher">
            <mat-error *ngIf="signupForm.controls['mobile'].hasError('mobile') && !signupForm.controls['mobile'].hasError('required')">
              Please enter a valid mobile number
            </mat-error>
            <mat-error *ngIf="signupForm.controls['mobile'].hasError('required')">
              Mobile is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        <!-- <mat-form-field class="mat-form-input">
            <input matInput placeholder="Name" formControlName="name"
                    type="text" [errorStateMatcher]="matcher">
            <mat-error *ngIf="signupForm.controls['name'].hasError('name') && !signupForm.controls['name'].hasError('required')">
              Please enter a valid name
            </mat-error>
            <mat-error *ngIf="signupForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field> -->

        <mat-form-field class="mat-form-input">
          <input matInput placeholder="Email" formControlName="email"
                  type="text" [errorStateMatcher]="matcher">
          <mat-error *ngIf="signupForm.controls['email'].hasError('email') && !signupForm.controls['email'].hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="mat-form-input">
            <input matInput placeholder="Password" type="password" formControlName="password"
                    [errorStateMatcher]="matcher">
            <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-input">
            <input matInput placeholder="Confirm Password" type="password" formControlName="cpwd"
                    [errorStateMatcher]="matcher">
            <mat-error *ngIf="signupForm.controls['cpwd'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-checkbox class="mat-form-input" formControlName="agreed">Agreed To Terms and Conditions</mat-checkbox>
        <mat-divider></mat-divider>
        <mat-checkbox class="mat-form-input" formControlName="subscribe_newsletter">Subscribe To News Letter</mat-checkbox>
                  
        <button [disabled]="signupForm.invalid" class="signup-button" mat-raised-button type="submit">SIGNUP</button>
      </form>
  
      <div class="center-form-container-by-row signup-options">
        
      </div>
    </div>
  </div>
      