<!-- <div class="banner-container">
    <div class="banner">
        <button routerLink="/store" matTooltip="Add Store">Add Store</button>
    </div>
</div> -->
<br/>
<div class="ucard-container">
  <div *ngFor="let store of stores" [routerLink]="['/store/'+store.payload.doc.id]" class="ucard">
      <img class="ucard-img" src="https://algovent-s3-static.s3.ap-south-1.amazonaws.com/storefront.png" alt="Avatar">
      <div class="ucontainer">
          
          <h4><b>{{ store.payload.doc.data().name }}</b></h4> 
          <mat-divider></mat-divider>
          <p><mat-icon>call</mat-icon> {{ store.payload.doc.data().phone }}</p>
          <mat-divider></mat-divider>
          <p><mat-icon>location_on</mat-icon> {{ store.payload.doc.data().address }}</p> 
      </div>
  </div>
</div>