<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="350px">
   
    <mat-grid-tile *ngFor="let card of userService.user.DashboardInfo" [colspan]="position_matrix['cols']" [rowspan]="position_matrix['rows']">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3 class="app-category">{{card['title']}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <mat-nav-list>
              <mat-list-item class="app"  *ngFor="let service of card.services" [routerLink]="service.url">
                <mat-icon class="app_icon" aria-label="service" >{{ service.icon }}</mat-icon>
                <a class="app_url">{{ service.title }}</a>
              </mat-list-item>
            </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
