.grid-container {
  margin: 40px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  bottom: 15px;
  background-color: rgba(14, 12, 12, 0);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dashboard-card-content {
  text-align: center;
}

.app-category {
  color: rgba(255,255,255,.7);
  font-size: 0.7em;
}

mat-card-header {
  background-color : #40456d;
  font-size: 1em;
}

.mat-grid-tile
{
  width: 100%;
}

mat-card
{
  width: 90%;
}

.app
{
  color: dimgrey;
  font-size: 0.9em;
}

.app_icon
{
  padding: 2px;
}

.app_url
{
  color: black;
}
