/* You can add global styles to this file, and also import other style files */


/*colors*/
.white-color {
  color: white;
}

.silver-line-color {
  color: #dcdedeb8;
}

.red-color {
  color: #fb31317d;
}
/*colors*/

/*backgrounds*/
.grey-bg
{
  background-color:#e8e6e6;
}
/*backgrounds*/

.tab-icon {
  margin-right: 0px;
  font-size: 15px;
}

/* dividers */

.hdivider {
  height: 0px;
  border-bottom-color: #a5a2a261;
  width: 100%;
  margin: 5px 0;
}

.verticle-line {
  padding: 0px;
  margin: 5vh;
  border: 0px;
  border-color: red;
  min-height: 50vh;
  width: 1px;
  background-color: #dcd1d18c;
}

.grey-divider
{
  border-top-color: #ffffff1f;
}

.tollbar-splitter
{
  flex: 1 1 auto;
}

/* dividers */

/* spacers */

.vspacer {
  margin-bottom: 2vh;
}

/* spacers */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
