<div class="tool-bar-container">
        <div class="filter-tool-bar">
            <mat-icon class="filter-icon">texture</mat-icon>
            <div>
                <div class="input-element-label">NAME</div>
                <div class="input-element"><input autocomplete="rutjdskjde" [formControl]="name" class="filter-tool-bar-input" type="text"></div>
            </div>
          <button mat-icon-button color="primary" matTooltip="RESET FILTERS" (click)="initFilters()">
              <mat-icon>tune</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="NEW CLOTHING" (click)="dialogService.openDialog(['clothing', {'fid' : fid}])">
              <mat-icon>fiber_new</mat-icon>
          </button>
        </div>
</div>
<mat-paginator [length]="total_count" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="setPagination($event)"></mat-paginator>
<mat-nav-list>
    <h3 mat-subheader> <a routerLink="/fabrics">Fabric</a> <mat-icon color="primary"> arrow_forward_ios </mat-icon> Clothings</h3>
    <mat-list-item *ngFor="let price of dataSource">
        <mat-icon mat-list-icon>texture</mat-icon>
        <h4 mat-line>{{price['name'] | uppercase}}</h4>
        <button mat-button [routerLink]="'/fabric/'+fid+'/clothing/'+price['id']+'/services'">SERVICES</button>
        <button mat-button (click)="dialogService.openDialog(['clothing', {'id':price['id'], 'fid' : fid}])">EDIT</button>
    </mat-list-item>
</mat-nav-list>