<div class="tool-bar-container">
    <div class="filter-tool-bar">
        <div>
            <div class="input-element-label">CUSTOMER MOBILE</div>
            <div class="input-element"><input autocomplete="rutjdskjde" class="filter-tool-bar-input" type="text"></div>
        </div>
        <div class="order-filters">
        </div>
    </div>
</div>
<div class="order-container">
  <app-order-item class="order-item-details-container"></app-order-item>
  <div class="verticle-line"></div>
  <app-order-items class="order-items-container"></app-order-items>
</div>