<mat-tab-group mat-align-tabs="center">
<mat-tab  *ngFor="let group of groups" [label]="group['name'] | uppercase">
    <mat-accordion *ngFor="let content_type of content_types">
        <mat-expansion-panel (opened)="loadPermissions(group, content_type)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ content_type['model'] | uppercase }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list>
                <mat-list-option [selected]="permission['has_access']" *ngFor="let permission of permissions[group['id']+'_'+content_type['id']]"  (click)="updatePermission(group, content_type, permission)">
                    {{permission["name"]}}
                </mat-list-option>
            </mat-selection-list>
        </mat-expansion-panel>
    </mat-accordion>
</mat-tab>
</mat-tab-group>